body{
    background: #1d2026;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
    

}

.hero{
    
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

nav{
    background-color: #00986f;
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

nav .menu-img{
    margin-right: 25px;
    cursor: pointer;
}
nav .logo{
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.pic-container{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 12%;
}
.main-photo{
    max-width: 100%;
    height: auto;
    width: auto;
}

.text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;

}

.text-container h1{
    font-size: 80px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 30px;


}

.card-container1{
    text-align: center;

}

.card {
    /* Add shadows to create the "card" effect */
    
    transition: 0.3s;
    display: inline-block;
    flex-direction: column;
    padding-top: 75px;
    text-align: center;
    
    

  }


  

  
  /* Add some padding inside the card container */
.container {
    padding: 10px 26px;
    flex: 1;

}


.card-student {
    /* Add shadows to create the "card" effect */
    width: 50%;
    height: 50%;
    transition: 0.3s;
    display: inline-block;
    flex-direction: column;
    padding: 75px;
    text-align: center;


}
.card-student:hover{
    box-shadow: 2px 2px;
}

.container-student {
    padding: 10px 26px;
    flex: 1;

}

.student-review-text{
    font-size: 20px;
    text-align: center;
    
}



.meet-team{

    text-align: center;
    font-size: 80px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;

}

.why-ace-div{
    text-align: center;
}


.why-ace{
    color: #00986f;
    text-align: center;
    font-size: 80px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;

}

.why-ace-text{

    
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
}
