body{
    background: #1d2026;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
    

}

.hero{
    width: 100%;
    color: #fff;
    position: relative;
}

/* Added flex to student reviews*/
.studentReviews {
    display: flex;
}

nav{
    background-color: #00986f;
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

nav .menu-img{
    margin-right: 25px;
    cursor: pointer;
}
nav .logo{
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.pic-container{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 12%;
}
.main-photo{
    max-width: 100%;
    height: auto;
    width: auto;
}

.text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;

}

.text-container h1{
    font-size: 80px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 30px;


}

.card-container1{
    text-align: center;

}

.card {
    /* Add shadows to create the "card" effect */
    
    transition: 0.3s;
    display: inline-block;
    flex-direction: column;
    padding-top: 75px;
    text-align: center;
}


  

  
  /* Add some padding inside the card container */
.container {
    padding: 10px 26px;
    flex: 1;

}


.card-student {
    /* Add shadows to create the "card" effect */
    width: 50%;
    height: 50%;
    transition: 0.3s;
    display: inline-block;
    flex-direction: column;
    padding: 75px;
    text-align: center;


}
.card-student:hover{
    box-shadow: 2px 2px;
}

.container-student {
    padding: 10px 26px;
    flex: 1;

}

.student-review-text{
    font-size: 20px;
    text-align: center;
    
}



.meet-team{

    text-align: center;
    font-size: 80px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;

}

.why-ace-div{
    text-align: center;
}


.why-ace{
    color: #00986f;
    text-align: center;
    font-size: 80px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;

}

.why-ace-text{

    
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
}

.loginContainer, #form {
    border-radius: 25px;
    background: #00986f;
    padding: 20px; 
    margin: auto;
    width: 50%;
    top: 100px;
    position: relative;
  }

  #form {
    color: white;
  }
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit], .submitButton {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
 .column {
    float: left;
    width: 25%;
    padding: 40px;
   
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

nav ul li p {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    opacity: 0.8;
 }

 input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4CAF50;
  }

  .button {
    width:47.5%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 1% 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  h1 {
    text-align: center;
    margin-top: 10%;
  }

  h2 {
    text-align: center;
    margin-top: 10%;}

  .news {
    background-color: #00986f;
    width: 30%;
    height: 300px;
    border: #fff;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    left:35%
   }

   .forward {
    background-color: #1d2026;
    border:none;
    opacity: 0.8;
   }

   .backward {
    background-color: #1d2026;
    border:none;
    opacity: 0.8;
   }

  p {
    text-align: center;
  }

  img.a {
    vertical-align: sub;
    margin-left: 10px;
  }

  img.c {
    vertical-align: baseline;
  }

  .close {
    background-color: #00986f;
    border: none;
    opacity: 0.8;

  }
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #00986f;
  color: white;
  padding: 16px 16px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  border-radius: 200px;
}

/* Add styles to the form container */
.form-container {
  color: white;
  position: fixed;
  bottom: 23px;
  right: 28px;
  max-width: 36%;
  padding: 10px;
  background-color: #00986f;
  border-radius: 10px;
}

.form-container .notif {
  width: 97%;
  height: 80px;
  margin: 5px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  font-size: 15px;
  overflow: hidden;
  text-overflow:ellipsis;
  border-radius: 10px;
}

.form-container .notif .btn {
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.form-container .close {
  position: fixed;
  right: 35px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .close:hover, .forward:hover, .backward:hover, nav ul li p{
  opacity: 1;
}

.form-container .notif img {
    float: left;
    max-width: 40px;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.class-container {
  color: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  max-width: 36%;
  height: 100%;
  padding: 10px;
  background-color: #00986f;
  border-radius: 10px;
  border-color:#4CAF50;
  overflow: scroll;
}

.class-container .btn {
  width: 97%;
  height: 80px;
  margin: 15px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.8;
  overflow: hidden;
  text-overflow:ellipsis;
  border-radius: 10px;
}

.class-container .btn img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.class-container .close {
  position: fixed;
  left: 240px;
}

.student_list {
  color: white;
  position: fixed;
  bottom: 5%;
  right: 52%;
  width: 345px;
  height: 530px;
  padding: 10px;
  background-color: #00986f;
  border-radius: 10px;
  overflow: scroll;
}

.send_files {
  color: white;
  position: fixed;
  bottom: 45%;
  left: 52%;
  width: 345px;
  height: 158px;
  padding: 10px;
  background-color: #00986f;
  border-radius: 10px;
}

.set_quiz {
  color: white;
  position: fixed;
  bottom: 5%;
  left: 52%;
  width: 345px;
  height: 344px;
  padding: 10px;
  background-color: #00986f;
  border-radius: 10px;
}

.student {
  width: 97%;
  height: 80px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  font-size: 15px;
  overflow: hidden;
  text-overflow:ellipsis;
  border-radius: 10px;
  font-size: 22px;
}

.student p {
  padding: 17px;
}

.student img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}
